# vi: ft=bzl
package(default_visibility = ["//visibility:private"])

_shared_libs = {%{shared_libs}}
[cc_import(
    name = i,
    shared_library = _shared_libs[i],
) for i in _shared_libs]

_static_libs = {%{static_libs}}
[cc_import(
    name = i,
    static_library = _static_libs[i],
) for i in _static_libs]

cc_library(
    name = "internal_lib",
    hdrs = glob([%{hdrs}]),
    copts = [%{copts}],
    includes = [%{includes}],
    linkopts = [%{linkopts}],
    deps = [%{deps}],
)

cc_library(
    name = "lib",
    hdrs = glob(["%{strip_include}/**/*.h"]),
    copts = [%{extra_copts}],
    linkopts = [%{extra_linkopts}],
    deps = [":internal_lib"] + [%{extra_deps}],
    visibility = ["//visibility:public"],
    strip_include_prefix = "%{strip_include}",
    include_prefix = "%{include_prefix}",
)
